@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.text-center {
    text-align: center;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.item-center {
    align-items: center;
    /* justify-content: ; */
}